*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    border: 2px solid red;
    height: 350px;
    position: relative;

}
.main h1{
    border: 2px solid green;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main p{
    border: 2px solid yellow;
}